{% extends 'base.html' %}

{% block container %}
  {% include 'menu.html' %}
  <main class="container">
    <h1 class="h3 my-4">Корзина</h1>
    {% if deleted %}
        <div class="alert alert-warning" role="alert">Блюдо удалено из корзины</div>
    {% endif %}
    {% if not authorised %}
        <div class="alert alert-warning" role="alert">Чтобы сделать заказ – <a href="/login.html">войдите</a> или <a href="/register.html">зарегистрируйтесь</a></div>
    {% endif %}
    <div class="row mt-5">
        <div class="col-4">
          <form action="/cart/" method="POST">
          <h4 class="">Ваши данные</h4>
          <div class=" md-4 order-md-1">
            <div class="mt-3 mb-3">
                {{ form.name.label }}
                {{ form.name(class_="font-weight-bold form-control") }}
            </div>
            <div class="mt-3 mb-3">
                {{ form.address.label }}
                {{ form.address(class_="font-weight-bold form-control") }}
            </div>
            <div class="mt-3 mb-3">
                {{ form.mail.label }}
                {{ form.mail(class_="font-weight-bold form-control") }}
            </div>
            <div class="mt-3 mb-3">
                {{ form.phone.label }}
                {{ form.phone(class_="font-weight-bold form-control") }}
            </div>
            <div class="mt-3 mb-3">
                {{ form.submit(class_=" mt-3 mb-5 btn btn-danger") }}
            </div>
          </div>
          <div class=" md-4 order-md-1">
          </div>
          <div class=" md-4 order-md-1">
           <input type="hidden" value = "875" name="order_summ">
           <input type="hidden" value="[1,3,4]" name="order_cart">
          </form>
        </div>
        </div>



      <div class="col-1"></div>
      <div class="col-7">
        <h4 class="mb-3 col-7 mb-5">{{ cart|length }} блюда в корзине</h4>
        <table class="table">
          <tbody>
          {% for id,item in cart.items() %}
            <tr>
              <th scope="row">Тест {{ item.title }}</th>
              <td></td>
              <td>1</td>
              <td>{{ item.price }}</td>
              <td><a class="text-danger" href="/deletefromcart/{{ id }}/">Удалить</a></td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
        <hr>
        <p class="display-4 my-2 ">{{ cart.values() | sum(attribute='price') }} руб</p>
      </div>
    </div>
  </main>
{% endblock %}